<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Вход и регистрация</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
  <h1>Если вы не видите код, проверьте папку "Спам" (хотя вроде такого не должно быть)</h1></br>
  <form method="post">
    <div class="form-group">
      <div class="form-group">
        <label>Проверить код:</label>
        <input type="text" name="code" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Отправить</button>
  </form>
  {% with messages=get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
          <div class='alert alert-{{category}} text-center alert-dismissible fade show m-auto'>
              {{ message }}
          </div>
      {% endfor %}
  {% endwith %}
</body>
</html>